@font-face {
  font-family: "Almendra";
  src: url("../fonts/Almendra/Almendra-Regular.ttf");
}

Label, .label, .button {
  -fx-font-family: "Almendra", "Arial Rounded MT Bold", Arial, Helvetica, sans-serif;
}

.cell {
  -fx-border-color: black;
  -fx-border-width: 1;
  -fx-background-color: lightgray;
}




