@font-face {
  font-family: "Almendra";
  src: url("../fonts/Almendra/Almendra-Regular.ttf");
}

Label, .label, .button {
  -fx-font-family: "Almendra", "Arial Rounded MT Bold", Arial, Helvetica, sans-serif;
}

.main-menu-overlay {
  -fx-background-color: transparent;
}




