@font-face {
  font-family: "Almendra";
  src: url("../fonts/Almendra/Almendra-Regular.ttf");
}

Label, .label, .button {
  -fx-font-family: "Almendra", "Arial Rounded MT Bold", Arial, Helvetica, sans-serif;
}

.monster-position-label {
  -fx-text-fill: white;
}

.monster-energy-label {
  -fx-text-fill: #102033;
}

.energy-change-gain {
  -fx-text-fill: #76d85d;
}

.energy-change-loss {
  -fx-text-fill: #ff3b3b;
}

.status-counter {
  -fx-font-size: 9px;
  -fx-font-weight: 900;
  -fx-text-fill: white;
}




