/* SOUND BUTTON */

.sound-on {
  -fx-background-color: darkgray;
  -fx-text-fill: white;
  -fx-font-weight: bold;
}

.sound-off {
  -fx-background-color: #555555;
  -fx-text-fill: lightgray;
  -fx-font-weight: bold;
}

/* MENU BUTTON BASE */

.menu-button {
  -fx-background-color:
    linear-gradient(#70b1ff 0%, #1a5cad 50%, #0a3b75 51%, #114b91 100%),
    linear-gradient(#202020 0%, #111111 100%), linear-gradient(#3e5e8e, #2e4a77);
  -fx-background-insets: 0, 1, 2;
  -fx-background-radius: 5, 4, 3;
  -fx-text-fill: white;
  -fx-font-weight: bold;
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0, 0, 1);
}

/* PRESSED STATE */

.menu-button:pressed {
  -fx-background-color:
    linear-gradient(#1a5cad 0%, #0a3b75 50%, #051d3a 51%, #082a52 100%),
    linear-gradient(#101010 0%, #000000 100%), linear-gradient(#2e4a77, #1a2b47);
  -fx-translate-y: 2px;
  -fx-text-fill: #bbbbbb;
  -fx-effect: none;
}

.menu-font {
  -fx-font-family: "Arial Rounded MT Bold", Arial, Helvetica, sans-serif;
  -fx-font-size: 18px;
}
