@font-face {
  font-family: "Press Start 2P";
  src: url("../fonts/PressStart2P-Regular.ttf");
}

Label, .label, .button {
  -fx-font-family: "Press Start 2P", "Arial Rounded MT Bold", Arial, Helvetica, sans-serif;
}
Label, .label {
  -fx-effect: dropshadow(three-pass-box, rgba(0, 229, 255, 0.86), 8, 0, 0, 1);
}

.cell {
  -fx-border-color: black;
  -fx-border-width: 1;
  -fx-background-color: lightgray;
}
