@font-face {
  font-family: "Press Start 2P";
  src: url("../fonts/PressStart2P-Regular.ttf");
}

Label, .label, .button {
  -fx-font-family: "Press Start 2P", "Arial Rounded MT Bold", Arial, Helvetica, sans-serif;
}
.main-menu-overlay {
  -fx-background-color: transparent;
}
